<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accept order| Unicorn TRIP</title>
    <link rel="shortcut icon" href="/public/images/horn.ico" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/accept.css">
</head>
<body>

<header>Unicorn</header>
<form action="/process" method="post" id="startTHIS">
    <label>

        <input type="text" name="fio" required  placeholder="Full name" ></label>
    <label>
        <input type="text" name="passport" required  placeholder="AO012345" ></label>

    </label>
    <label>
        <input type="email" name="email" required  placeholder="Email" ></label>

    </label>
    <label>
        <input type="number" name="days" required min="1" value="3" placeholder="Days"></label>

    </label>
    <label>
        <div id="attr">
            <details>
                <summary>Attractions</summary>
                {{#each categories}}
                    <label><input type="checkbox" value="{{this.id}}">{{this.name}}</label>
                {{/each}}

            </details>
        </div>
        <!--<p>Attraction</p>-->

        <!--<select name="attr" id="" required>-->
            <!--{{#each categories}}-->
                <!--<option value="{{this.id}}">{{this.name}}</option>-->
            <!--{{/each}}-->
        <!--</select>-->
    </label>
    <label for="">
        <p>Date</p>
        <input type="date" name="date" required>
    </label>
    <input type="submit">
</form>
<!--<div class="results">-->
    <!--<div class="results-tickets result-item">-->
        <!--<div class="switch switch-left"></div>-->
        <!--<div class="result-content"></div>-->
        <!--<div class="switch switch-right"></div>-->
    <!--</div>-->
    <!--<div class="results-hotels result-item">-->

    <!--</div>-->
    <!--<div class="results-attrs result-item">-->

    <!--</div>-->
<!--</div>-->

<div class="results">
    <div class="results-tickets result-item results-ticket-to">
        <!--<div class="results-tickets-to-inner">-->

        <!--</div>-->


        <!--<div class="result-slide">-->

        <!--<div class="switch switch-left"></div>-->
        <!--<div class="result-content">-->
            <!--<div class="image-cont"><div class="image"></div><div class="price">120$</div></div>-->
            <!--<div class="info-cont">-->
                <!--<div class="part item">-->
                    <!--<div class="city">City 1</div>-->
                <!--</div>-->
                <!--<DIV class="middle item">-->
                    <!--<div class="line"></div><div class="date">17.09.2017 17:00</div>-->
                <!--</DIV>-->
                <!--<div class="part item">-->
                    <!--<div class="city">City 2</div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
        <!--<div class="switch switch-right"></div>-->
        <!--</div>-->
    </div>
    <div class="results-tickets result-item results-ticket-back">
        <!--<div class="switch switch-left" ></div>-->
        <!--<div class="result-content">-->
            <!--<div class="image-cont"><div class="image"></div><div class="price">120$</div></div>-->
            <!--<div class="info-cont">-->
                <!--<div class="part item">-->
                    <!--<div class="city">City 1</div>-->
                <!--</div>-->
                <!--<DIV class="middle item">-->
                    <!--<div class="line"></div><div class="date">17.09.2017 17:00</div>-->
                <!--</DIV>-->
                <!--<div class="part item">-->
                    <!--<div class="city">City 2</div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
        <!--<div class="switch switch-right" data-dir="1"></div>-->
    </div>
    <div class="results-hotels result-item">
        <!--<div class="switch switch-left"></div>-->
        <!--<div class="result-content">-->
            <!--<div class="image-cont"><div class="image"></div><div class="price">120$</div></div>-->
            <!--<div class="info-cont">-->
                <!--<span class="name">dwddwd</span>-->
                <!--<span class="mark">5</span>-->
                <!--<span class="address">dewdf ewdf ef ewf</span>-->

            <!--</div>-->
        <!--</div>-->
        <!--<div class="switch switch-right"></div>-->
    </div>
    <div class="results-attrs">
        <div class="result-content">
            <form action="" id="attrForm">
            </form>
        </div>
    </div>
    <div id="total-price"></div>
    <input type="submit" form="attrForm">
</div>
<script src="javascripts/jquery-3.2.1.min.js"></script>
<script>
$(function () {
    let curr = {tick_to: 0, tick_back:0, room: 0};

    $('form#attrForm').submit(function (e) {
        e.preventDefault();
        $('div#total-price').text(calcPrice() + '$');

//        let attrs = $('form#attrForm input:checked').map(function (e) {
//            return $(this).attr('value');
//        });
//        console.log(attrs[0]);
//        calcPrice();
    });

    let days = 1;
    let obj = null;
    $('form#startTHIS').submit(function (e) {
        e.preventDefault();
        let from = document.getElementById('startTHIS');
        let price = from.price.value;
        let cityFrom = from.cityFrom.value ;
        let cityTo = from.cityTo.value ;
        days = from.days.value ;
        let name_city_from = from.cityFrom.options[from.cityFrom.selectedIndex ].text;
        let name_city_to = from.cityTo.options[from.cityTo.selectedIndex ].text;

        let attr = [];
        $('form#startTHIS div#attr input:checked').each(function() {
            attr.push($(this).attr('value'));
        });
        let date = from.date.value ;
        $.ajax({
            url: "/process",
            method: "POST",
            cache: false,
            data: {
                price, cityFrom,cityTo,days,attr: attr.join(','),date
            },
            success: function (data) {
                console.log(data);
//                if(data.indexOf('%TICKET-ERROR%') > -1 || data.indexOf('%%NO-TICKETS-TO%%') > -1 || data.indexOf('%TICKET-ERROR%') > -1 || data.indexOf('%NO-TICKETS-BACK%') > -1 ) {
                if(data.indexOf('%') > -1 ) {
                    console.log('no');
                    $('div.results').css('display', 'none');

                    return;
                }
                obj = JSON.parse(data);
                console.log(obj);
                if(obj.attractions.length > 0){
                    //TODO сделать вывод результата
                    $('div.results').css('display', 'flex');
                    let str = '';
                    for(let i=0; i< obj.tickets_to.length; i++){
                        let thisDate = obj.tickets_to[i].datetime;
                        thisDate = thisDate.replace('T', ' ').substr(0, thisDate.indexOf('.'));
                        str+=`         <div class="result-slide" data-num=${i}>
                            <div class="switch switch-left" data-dir="-1" data-type='0'></div>
                                    <div class="result-content">
                                        <div class="image-cont"><div class="image"></div><div class="price" class="tickets_to_price" data-price=${obj.tickets_to[i].price}>${obj.tickets_to[i].price}$</div></div>
                                        <div class="info-cont">
                                            <div class="part item">
                                                <div class="city">${name_city_from}</div>
                                            </div>
                                            <DIV class="middle item">
                                                <div class="line"></div><div class="date">${thisDate}</div>
                                            </DIV>
                                            <div class="part item">
                                                <div class="city">${name_city_to}</div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="switch switch-right" data-dir="1" data-type='0'></div></div>`;

                    }
                    $('div.results-ticket-to').append(str);
                    str = '';

                    for(let i=0; i< obj.tickets_back.length; i++){
                        let thisDate = obj.tickets_back[i].datetime;
                        thisDate = thisDate.replace('T', ' ').substr(0, thisDate.indexOf('.'));
                        str+=`         <div class="result-slide" data-num=${i}>
                            <div class="switch switch-left" data-dir="-1" data-type='1'></div>
                                    <div class="result-content">
                                        <div class="image-cont"><div class="image"></div><div class="price" class="tickets_from_price" data-price=${obj.tickets_back[i].price}>${obj.tickets_back[i].price}$</div></div>
                                        <div class="info-cont">
                                            <div class="part item">
                                                <div class="city">${name_city_to}</div>
                                            </div>
                                            <DIV class="middle item">
                                                <div class="line"></div><div class="date">${thisDate}</div>
                                            </DIV>
                                            <div class="part item">
                                                <div class="city">${name_city_from}</div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="switch switch-right" data-dir="1" data-type='1'></div></div>`;

                    }
                    $('div.results-ticket-back').append(str);
                    str = '';
                    for(let i=0; i< obj.rooms.length; i++){
                        str+=`         <div class="result-slide" data-num=${i}>
                                                        <div class="switch switch-left" data-dir="-1" data-type='2'></div>
                            <div class="result-content">
                                <div class="image-cont"><div class="image"></div><div class="price" class="hostel_price" data-price=${obj.rooms[i].price}>${obj.rooms[i].price}$</div></div>
                                <div class="info-cont">
                                    <span class="name">${obj.rooms[i].name}</span>
                                    <span class="mark">оценка посетителей ${obj.rooms[i].marks}</span>
                                    <span class="address">${obj.rooms[i].address}</span>

                                </div>
                            </div>
                            <div class="switch switch-right" data-dir="1" data-type='2'></div>
                            </div>`;

                    }
                    $('div.results-hotels').append(str);
                    str = '';
                    for(let i=0; i< obj.attractions.length; i++){
                        str+=`
                    <input type="checkbox" class="attr-item" id="attr${i}" value=${obj.attractions[i].id} data-price=${obj.attractions[i].price}>
                <label for="attr${i}">${obj.attractions[i].name}</label>`;

                    }
                    $('form#attrForm').append(str);

                    $('div#total-price').text(calcPrice() + '$');
                    curr = {tick_to: 0, tick_back:0, room: 0};
                    $('div.switch').click(function (e) {
                        let dir = parseInt($(this).attr('data-dir'));
                        let mar = $(this).parent().parent().children().eq(0).css('margin-left');
                        let count = $(this).parent().parent().children().length;
                        if(dir>0){
                            if((count-1) === $(this).parent().index()) {
                                return;
                            }
//                            console.log('>');
                            $(this).parent().parent().children().eq(0).css('margin-left', 'calc( ' + mar +' - 100% )');
                            if($(this).attr('data-type') === '0')
                                curr.tick_to = $(this).parent().index()+1;
                            else if ($(this).attr('data-type') === '1')
                                curr.tick_back = $(this).parent().index()+1;
                            else if ($(this).attr('data-type') === '2')
                                curr.room = $(this).parent().index()+1;
                            $('div#total-price').text(calcPrice() + '$');
                        }
                        else{
                            if(0 === $(this).parent().index()) {
                                return;
                            }
//                            console.log('<');
                            $(this).parent().parent().children().eq(0).css('margin-left', 'calc( ' + mar +' + 100% )');
                            if($(this).attr('data-type') === '0')
                                curr.tick_to = $(this).parent().index()-1;
                            else if ($(this).attr('data-type') === '1')
                                curr.tick_back = $(this).parent().index()-1;
                            else if ($(this).attr('data-type') === '2')
                                curr.room = $(this).parent().index()-1;
                            $('div#total-price').text(calcPrice() + '$');
                        }

                    });
                }
                else{
                    console.log('no');
                    $('div.results').css('display', 'none');

                }


            }
        });
    });
    function calcPrice() {
        let tickets_to_price = obj.tickets_to[curr.tick_to].price;
        let tickets_from_price = obj.tickets_back[curr.tick_back].price;
        let hostel_price = obj.rooms[curr.room].price;

        let attrs_price = 0;
        if($('form#attrForm input:checked').length > 0) {
            attrs_price = $('form#attrForm input:checked').map(function (e) {
                return parseFloat($(this).attr('data-price'));
            });
            attrs_price = Array.from(attrs_price).reduce(function (previousValue, currentValue, index, array) {
                return previousValue + currentValue;
            });
        }
        return tickets_to_price + tickets_from_price + hostel_price + attrs_price;
    }

})
</script>
</body>
</html>



