<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accept order| Unicorn TRIP</title>
    <link rel="shortcut icon" href="/public/images/horn.ico" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/accept.css">
</head>
<body>
<div class="back">

</div>
<main>
    <header>Unicorn Trip</header>
    <form action="/confirm" method="post" id="acceptForm">
        <label>
            <input type="text" name="fio" required  placeholder="Full name" ></label>
        <label>
            <input type="text" name="passport" required  placeholder="AO012345" ></label>
        </label>
        <label>
            <input type="email" name="email" required  placeholder="Email" ></label>
        </label>
        <input type="submit">
    </form>
</main>


<script src="javascripts/jquery-3.2.1.min.js"></script>
<script>
$(function () {


})
</script>
</body>
</html>



