<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Accept order| Unicorn TRIP</title>
    <link rel="shortcut icon" href="/public/images/horn.ico" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/result.css">
</head>
<body>
<div class="back">

</div>
<main>
    <header>Unicorn Trip</header>
    <p>We saved {{rest}}$ for you. You can do a good deed...</p>
    <form action="/charity" method="post" id="char">
        <input type="submit" value="Do it">
    </form>
    <form action="/" method="get">
        <input type="submit" value="Go to the home page">
    </form>
</main>
<script src="https://api.fondy.eu/static_common/v1/checkout/ipsp.js"></script>
<script>
    var button = $ipsp.get('button');
    button.setMerchantId(1396424);
    button.setAmount({{rest}}, 'USD', true);
    button.setHost('api.fondy.eu');
    button.setResponseUrl('http://pomogaem.com.ua');
    button.addField({
        label: 'Purpose of payment',
        name: 'description',
        value: 'Charity',
        readonly: true
    });
</script>

<script src="javascripts/jquery-3.2.1.min.js"></script>

<script>
$(function () {
    $('form#char').submit(function (e) {
        e.preventDefault();
        location.href = button.getUrl();

//        let form = document.querySelector('form#passengerInfo');
//
//        let firstName = form.firstName.value;
//        let lastName = form.lastName.value;
//        let date = form.date.value;
//        let sex = form.sex.value;
//        let number = form.number.value;
//        let email = form.email.value;
//
//        if(firstName.length < 2 || lastName.length < 2) {
//            alert('Введите имя и фамилию корректно!');
//            return;
//        }
//        if (!valid_email(email)){
//            alert('Введите Email корректно!');
//            return;
//        }
//        $.ajax({
//            url: "/ajax/book.php",
//            method: "POST",
//            cache: false,
//            data: {
//                action: 'pay',
//                firstName, lastName, email, secureCode
//            },
//            success: function (data) {
//                console.log(data);
//                let pos = data.search('%YES%');
//                if(pos > -1){
//                }
//            }
//        });

    });

})
</script>
</body>
</html>



